<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>ProjectGB</title>
</head>
<body>
    <div id="app">
        <header class="header">
            <div class="container header__container">
                <form action="" class="search" name="search">
                    <input  
                        class="search__input" type="text" 
                        name="search__input" id="search__input" 
                        v-model="searchText" 
                    >
                    <button class="search__btn" @click.prevent="searchGoods">Найти</button>
                </form>
                <div class="cart">
                    <button class="cart__open" @click="showCart">Корзина</button>
                    <div class="cart__body--wrapp" :class = "{active: isVisibleCart}">
                        <div class="cart__body">
                            <p class="cart__empty" v-if="cartGoods.length === 0">Корзина пустая</p>
                            <ul class="cart__list">
                                <li class="goodCart" v-for="good in cartGoods" :key="good.id_product">
                                    <img src="http://placehold.it/120x80" alt="Изображение товара" class="goodCart__img">
                                    <div class="goodCart__desc">
                                        <h3 class="goodCart__title">{{good.product_name ? good.product_name : 'Неизвестно'}}</h3>
                                        <p class="goodCart__id">ID: {{good.id_product ? good.id_product : 'Неизвестно'}}</p>
                                        <p class="goodCart__price">{{good.price ? good.price : 'Неизвестно'}} &#8381</p>
                                        <div class="goodCart__quantity">
                                            <button class="goodCart__decr" @click="decrQuantity(good)">-</button>
                                            <span class="goodCart__num">{{good.quantity}}</span>
                                            <button class="goodCart__incr" @click="addGoodToCard(good)">+</button>
                                        </div>
                                    </div>
                                    <button class="goodCart__btn-delete" @click = "removeGoodFromCart(good)">X</button>
                                </li>
                            </ul>
                            <p class="cart__quantity">В корзине: {{cartQuantity}} шт.</p>
                            <p class="cart__sum">Общая сумма: {{cartSum}} &#8381</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="catalog">
                <div class="container catalog__container">
                    <ul class="catalog__list">
                        <li class="good" v-for="good in filterGoods" :key="good.id_product">
                            <img class="good__img" src="http://placehold.it/250x160" alt="Фото продукта">
                            <div class="good__desc">
                                <h3 class="good__title">{{good.product_name ? good.product_name : 'Неизвестно'}}</h3>
                                <p class="good__id">ID: {{good.id_product ? good.id_product : 'Неизвестно'}}</p>
                                <p class="good__price">{{good.price ? good.price : 'Неизвестно'}} &#8381</p>
                            </div>
                            <button class="good__button-add" @click="addGoodToCard(good)">В корзину</button>
                        </li>
                    </ul>
                </div>
            </div>
        </main> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const app = new Vue({

            el: '#app',

            
            data: {
                goods: [],
                searchText: '',
                filterGoods: [],
                cartGoods: [],
                cartSum: 0,
                cartQuantity: 0,
                isVisibleCart: false,

            },



            methods: {
                fetchGoods(url) {
                    return fetch(url)
                        .then(result => result.json())
                        .catch(error => console.error(error));
                },

                searchGoods() {
                    let regexp = new RegExp(this.searchText, 'i');
                    this.filterGoods = this.goods.filter(good => regexp.test(good.product_name));
                },

                showCart(){
                    this.isVisibleCart = !this.isVisibleCart;
                },

                addGoodToCard(product) {
                    this.fetchGoods('https://raw.githubusercontent.com/GeekBrainsTutorial/online-store-api/master/responses/addToBasket.json')
                        .then(data => {
                            if (data.result == 1){
                                let findElem = this.cartGoods.find(el => el.id_product === product.id_product);
                                if(findElem){
                                    findElem.quantity++;
                                } else {
                                    product.quantity = 1;
                                    this.cartGoods.push(product);
                                }
                                this.cartQuantity++;
                                this.cartSum += product.price;
                            } else {
                                console.error('error');
                            }
                        })
                        
                },

                decrQuantity(product){
                    this.fetchGoods('https://raw.githubusercontent.com/GeekBrainsTutorial/online-store-api/master/responses/deleteFromBasket.json')
                        .then(data => {
                            if (data.result == 1){
                                if(product.quantity > 1){
                                    product.quantity--;
                                    this.cartQuantity--;
                                    this.cartSum -= product.price;
                                } else {
                                    this.removeGoodFromCart(productForCart);
                                }
                            } else {
                                console.error('error');
                            }
                        })
                },

                removeGoodFromCart(product){
                    this.fetchGoods('https://raw.githubusercontent.com/GeekBrainsTutorial/online-store-api/master/responses/deleteFromBasket.json')
                        .then(data => {
                            if(data.result == 1){
                                this.cartQuantity -= product.quantity;
                                this.cartSum -= product.price * product.quantity;
                                this.cartGoods = this.cartGoods.filter(el => el.id_product != product.id_product);
                            } else {
                                console.error('error');
                            } 
                        })
                   
                },


                getSum(){
                    this.cartGoods.forEach(good => this.cartSum += good.price * good.quantity)
                },

                getCartQuantity(){
                    this.cartGoods.forEach(el => this.cartQuantity += el.quantity)
                }

            },



            created() {
                this.fetchGoods('https://raw.githubusercontent.com/GeekBrainsTutorial/online-store-api/master/responses/catalogData.json')
                    .then((data)=> {
                        this.goods = [...data];
                        this.filterGoods = [...this.goods];
                    });

                this.fetchGoods('https://raw.githubusercontent.com/GeekBrainsTutorial/online-store-api/master/responses/getBasket.json')
                    .then((data)=> this.cartGoods = [...data.contents])
                    .then(()=> {
                        this.getCartQuantity();
                        this.getSum();
                    })
            }
        });

    </script>
</body>
</html>