* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background: tomato;
  padding: 40px 0;
}

.header__container {
  display: flex;
  justify-content: flex-end;
}

.cart {
  position: relative;
}

.cart__field-wrapp {
  position: absolute;
  left: 60px;
  width: 400px;
  height: 0;
  background: #fff;
  right: 0;
  top: 80px;
  z-index: 10;
  overflow: hidden;
}

.cart__field-wrapp--open {
  height: auto;
}

.cart__btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.product-cart-basket {
  display: flex;
  margin-top: 30px;
}
